
<section>
  <form>
    <input ng-model="keywords" type="text" placeholder="type your amazon search here" name="azSearch"/>
    <button ng-click="getItems(keywords)" class="btn btn-lg" data-toggle="modal" data-target="#submitEq">search!</button>
  </form>
</section>

<section class="col-md-8 col-sm-8 login" id="HomeContainer">

  <article class="col-md-4 col-sm-6" ng-repeat="item in items">
    <h2>{{item}}</h2>
    <p>{{item.placeholder}}</p>
    <p>{{item.placeholder}}</p>
    <p>{{item.placeholder}}</p>
    <p>{{item.placeholder}}</p>
  </article>

</section>