
<section class="col-md-12 col-sm-12">
  <form>
    <input ng-model="keywords" type="text" placeholder="search here" name="azSearch"/>
    <button ng-click="getItems(keywords)" class="btn btn-lg" data-toggle="modal" data-target="#submitEq">go</button>
  </form>
</section>

<section class="col-md-12 col-sm-12" id="HomeContainer">

  <article class="col-md-6 col-md-offset-4 col-sm-6" ng-repeat="item in items">
    <a ng-href="{{item.DetailPageURL}}">
      <h2>{{item.ItemAttributes.Title}}</h2>
      <p>{{item.ItemAttributes.Author}}</p>
      <p ng-bind-html="item.EditorialReviews.EditorialReview.Content"></p>
      <p><img class="pull-left" ng-src="{{item.LargeImage.URL}}" /></p>
      <p class="isbn">{{item.ASIN}}</p>
    </a>
  </article>

</section>